body{
margin:0;
font-family:Arial;
background:#020617;
color:white;
text-align:center;
}

.container{
max-width:400px;
margin:auto;
padding:20px;
background:#0f172a;
border-radius:20px;
box-shadow:0 0 20px cyan;
margin-top:20px;
}

input,select,button{
width:90%;
padding:12px;
margin:10px;
border-radius:10px;
border:none;
font-size:16px;
}

button{
background:cyan;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#22d3ee;
}

.logo{
width:120px;
}
